@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "_Layout";
}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center" style="background: url('@Url.Content(Model.BackgroundImage)') top center; background-size: cover;" alt="Image of the day from Bing. For more, please visit them.">
    <div class="hero-container" data-aos="fade-in">
        <h1>Anıl Sezer</h1>
        <p>Back end developer that uses: <span class="typed" data-typed-items=".Net Core 7, MySQL, Kafka, Docker, Kubernetes"></span></p>
    </div>
    <div class="bing-credit">
        <b>Background image is by <a href="https://www.microsoft.com/en-us/bing/bing-wallpaper">Bing Daily Wallpapers</a></b>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= todo: Replace these Services texts ======= -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Tech Stack</h2>
                <p>This is the stack that I have used to deploy this system to demonstrate my skills. <br/>
                    You can check the source code at <a href="https://github.com/anil-sezer/Portfolio" style="font-weight: bold;">GitHub!</a> </p>
            </div>

            @{ const string boxDivClass = "col-lg-4 col-md-6 icon-box"; }
            <div class="row">
            
                @{ const string kubeLink = "https://kubernetes.io/"; }
                <div class="@boxDivClass" data-aos="fade-up" data-aos-delay="50">
                    <div class="icon">
                        <a href="@kubeLink">
                            <img src="@Url.Content("~/img/techStack/kubernetes.png")" width="32" height="32" alt="Kubernetes logo. Blue hexagonal that has a white ship helm inside. A minimalist brand design.">
                        </a>
                    </div>
                    <h4 class="title"><a href="@kubeLink">Kubernetes</a></h4>
                    <p class="description">Proudly self hosted at my Raspberry Pi 4 cluster!</p>
                </div>
                
                @{ const string dockerLink = "https://www.docker.com/"; }
                <div class="@boxDivClass" data-aos="fade-up" data-aos-delay="50">
                    <div class="icon">
                        <a href="@dockerLink">
                            <img src="@Url.Content("~/img/techStack/docker.png")" width="45" height="27" alt="Docker logo. A cute blue smiling whale with blue containers on it.">
                        </a>
                    </div>
                    <h4 class="title"><a href="@dockerLink">Docker</a></h4>
                    <p class="description">Some images are created with Docker and tested locally with it. Websites private image is at <a href="https://hub.docker.com/">Docker Hub</a></p>
                </div>
                
                @{ const string dotnetLink = "https://dotnet.microsoft.com/"; }
                <div class="@boxDivClass" data-aos="fade-up" data-aos-delay="50">
                    <div class="icon">
                        <a href="@dotnetLink">
                            <img src="@Url.Content("~/img/techStack/dotnet.png")" width="32" height="32" alt=".NET logo. A cute blue smiling whale with blue containers on it.">
                        </a>
                    </div>
                    <h4 class="title"><a href="@dotnetLink">.Net 7 and Razor</a></h4>
                    <p class="description">This website is written with .Net 7 Razor</p>
                </div>
                
                @{ const string bootstrapLink = "https://getbootstrap.com/"; }
                <div class="@boxDivClass" data-aos="fade-up" data-aos-delay="150">
                    <div class="icon">
                        <a href="@bootstrapLink">
                            <img src="@Url.Content("~/img/techStack/bootstrap.png")" width="32" height="32" alt="Bootstrap logo. A purple box with a B in it.">
                        </a>
                    </div>
                    <h4 class="title"><a href="@bootstrapLink">Bootstrap</a></h4>
                    <p class="description">Used it to create 3 projects including this, I like its ease of use.</p>
                </div>
                
                @{ const string githubLink = "https://github.com/"; }
                <div class="@boxDivClass" data-aos="fade-up" data-aos-delay="150">
                    <div class="icon">
                        <a href="@githubLink">
                            <img src="@Url.Content("~/img/techStack/github.png")" width="32" height="32" alt="Github logo. Has a silhouette of a stylized cat's head inside a circle.">
                        </a>
                    </div>
                    <h4 class="title"><a href="@githubLink">Github Actions</a></h4>
                    <p class="description">I currently only use this to build and push docker images. I will add tests and static analysis later.</p>
                </div>
                
                @{ const string fail2BanLink = "https://github.com/fail2ban/fail2ban/"; }
                <div class="@boxDivClass" data-aos="fade-up" data-aos-delay="150">
                    <div class="icon">
                        <a href="@fail2BanLink">
                            <img src="@Url.Content("~/img/techStack/fail2ban.png")" width="34" height="33" alt="Fail2Ban logo. A soft colored house that has a unique stop sign front of it. It's a bit funny.">
                        </a>
                    </div>
                    <h4 class="title"><a href="@fail2BanLink">Fail2Ban</a></h4>
                    <p class="description">For repelling some pesky attacks</p>
                </div>
                
                @{ const string sqLiteLink = "https://github.com/fail2ban/fail2ban/"; }
                <div class="@boxDivClass" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon">
                        <a href="@sqLiteLink">
                            <img src="@Url.Content("~/img/techStack/sqlite.png")" width="32" height="32" alt="SQLite logo. A feather in front of a blue gradient box. Simple but nice, like the SQLite.">
                        </a>
                    </div>
                    <h4 class="title"><a href="@sqLiteLink">SQLite</a></h4>
                    <p class="description">Due to cluster limitations and ease of usage for local testing, SQLite is my current option</p>
                </div>
                
                @{ const string lensLink = "https://k8slens.dev/"; }
                <div class="@boxDivClass" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon">
                        <a href="@lensLink">
                            <img src="@Url.Content("~/img/techStack/lens.png")" width="32" height="32" alt="Lens logo. A minimalist design. It has white aperture blades in a light blue box.">
                        </a>
                    </div>
                    <h4 class="title"><a href="@lensLink">Lens</a></h4>
                    <p class="description">Using it to observe the cluster in a more graphical way. Thinking about trying K9s later.</p>
                </div>
                
                @{ const string expressifLink = "https://www.espressif.com/"; }
                <div class="@boxDivClass" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon">
                        <a href="@expressifLink">
                            <img src="@Url.Content("~/img/techStack/expressif.png")" width="32" height="32" alt="Expressif logo. Looks like a red wifi signal logo, but contained inside a circle.">
                        </a>
                    </div>
                    <h4 class="title"><a href="@expressifLink">3 IOT Integration</a></h4>
                    <p class="description">Coming soon!</p>
                </div>
                
                @{ const string elasticLink = "https://www.elastic.co/"; }
                <div class="@boxDivClass" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon">
                        <a href="@elasticLink">
                            <img src="@Url.Content("~/img/techStack/elastic.png")" width="32" height="32" alt="Elastic Search logo. Looks like colorful bubbles fused together.">
                        </a>
                    </div>
                    <h4 class="title"><a href="@elasticLink">Elastic Search</a></h4>
                    <p class="description">Coming in the November!</p>
                </div>
                
                @{ const string kafkaLink = "https://kafka.apache.org/"; }
                <div class="@boxDivClass" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon">
                        <a href="@kafkaLink">
                            <img src="@Url.Content("~/img/techStack/kafka.png")" width="32" height="32" alt="Kafka logo. Circles connected by lines. It's black and white.">
                        </a>
                    </div>
                    <h4 class="title"><a href="@kafkaLink">Kafka</a></h4>
                    <p class="description">Coming in the last week of November!</p>
                </div>
                
                @{ const string prometheusLink = "https://prometheus.io/"; }
                <div class="@boxDivClass" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon">
                        <a href="@prometheusLink">
                            <img src="@Url.Content("~/img/techStack/prometheus.png")" width="32" height="32" alt="Prometheus logo. A nice torch.">
                        </a>
                    </div>
                    <h4 class="title"><a href="@prometheusLink">Prometheus</a></h4>
                    <p class="description">Because why not!</p>
                </div>
                
                @{ const string grafanaLink = "https://grafana.com/"; }
                <div class="@boxDivClass" data-aos="fade-up" data-aos-delay="400">
                    <div class="icon">
                        <a href="@grafanaLink">
                            <img src="@Url.Content("~/img/techStack/grafana.png")" width="32" height="32" alt="Grafana logo. A spiral with wide spikes, has gradient color from orange to yellow.">
                        </a>
                    </div>
                    <h4 class="title"><a href="@grafanaLink">Grafana</a></h4>
                    <p class="description">Coming in next weeks! Currently Lens is enough.</p>
                </div>
                
                @* <div class="@boxDivClass" data-aos="fade-up" data-aos-delay="500"> *@
                @*     <div class="icon"> *@
                @*         <img src="@Url.Content("~/img/techStack/rclone.png")" width="32" height="32" alt="Rclone logo. I dunno how to describe this. Looks like a 3 chain link linked together?"> *@
                @*     </div> *@
                @*     <h4 class="title"><a href="">Rclone</a></h4> *@
                @*     <p class="description">For backups because why not</p> *@
                @* </div> *@
            </div>
        </div>
    </section><!-- End Services Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">
            <div class="section-title">
                <h2 >About</h2>
            </div>
            <div class="row">
                <div class="col-lg-4" data-aos="fade-right">
                    <img src="@Url.Content("img/pp_pic.jpeg")" class="img-fluid" alt="My profile pic. Lush forest background with me, turned to camera and slightly smiling."/>
                </div>
                <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                    <h3>Back end developer</h3>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>@(DateTime.Now.Year - 1993)</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Mail:</strong> <span>msnanil@hotmail.com</span></li>

                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Istanbul, Turkey</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+90 531 627 53 29</span></li>
                            </ul>
                        </div>
                    </div>
                    
                    <p>
                        As an energetic engineer, I prioritize delivering quality results on time. Also I'm passionate about crafting clean and optimized code. <br/>
                        Rigorous testing is a staple in my process, ensuring no unexpected issues arise in production.  <br/><br/>
                        
                        I believe that excellence in any endeavor elevates it to art, and I apply this ethos when writing code.
                        With a particular affinity for the elegance of C#, I take pride in the solutions I develop using it.<br/><br/>
    
                        When the situation demands, I can operate with full autonomy, always aligned with long-term objectives.
                    </p>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Resume</h2>
                <p>
                    I'm a dedicated engineer committed to writing clean and efficient systems while always being mindful of deadlines. <br/><br/>
                    I take pride in mentoring junior colleagues, guiding them patiently and deriving satisfaction from watching them grow into proficient engineers. <br/><br/>
                    My enthusiasm for learning never wanes; delving into new systems excites me, and I continuously seek innovative methods to refine my development process.<br/>
                    
                    You can <a href="https://drive.google.com/drive/folders/1iBSn56NqtXe1OL55fs3-oqy53_Xf9veH?usp=sharing" style="font-weight: bold;">download my resume here!</a>
                </p>
            </div>
            <div class="row">
                <div class="col-lg-6" data-aos="fade-up">
                    <h3 class="resume-title">Education</h3>
                    <div class="resume-item">
                        <h4>Istanbul University</h4>
                        <h5>2013 - 2018</h5>
                        <p><em>Business Administration and Management</em></p>
                    </div>
                    <div class="resume-item">
                        <h4>CSD C and System Programmers Foundation <br/>(C ve Sistem Programcıları Derneği)</h4>
                        <h5>2017</h5>
                        <p><em>C Programming Language</em></p>
                    </div>
                    <div class="resume-item">
                        <h4>Dr Nurettin Erk Perihan Erk Industry High School</h4>
                        <h5>2007 - 2011</h5>
                        <p><em>Web designing & Programming</em></p>
                    </div>
                    <h3 class="resume-title">Professional Experience</h3>
                    <div class="resume-item">
                        <h4>Back End Developer</h4>
                        <h5>2023 - Present</h5>
                        <p><em>United Payment, Istanbul, Turkey </em></p>
                        <ul>
                        </ul>
                    </div>
                    
                </div>
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="resume-item">
                        <h4>Back End Developer</h4>
                        <h5>2019 - 2023</h5>
                        <p><em>Social Lift, Istanbul, Turkey </em></p>
                        <ul>
                            <li>In an accumulation of 12 years of code, at a system needs continuous availability, supporting 3 different brands of dating
                                platforms simultaneously. Delivered solid code on time.</li>
                        </ul>
                    </div>
                    <div class="resume-item">
                        <h4>Call Center Specialist</h4>
                        <h5>2018</h5>
                        <p><em>Stepping Stone Advertising, New York, NY</em></p>
                        <ul>
                            <li>English banking support to high end customers</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Resume Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title">
                <h2>Contact</h2>
                <p>Feel free to reach out with any questions you might have!</p>
            </div>

            <div class="row" data-aos="fade-in">

                <div class="col-lg-5 d-flex align-items-stretch">
                    <div class="info">
                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Location:</h4>
                            <p>Istanbul, Turkey</p>
                        </div>

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p>msnanil@hotmail.com</p>
                        </div>

                        <div class="phone">
                            <i class="bi bi-phone"></i>
                            <h4>Gsm & Whatsapp:</h4>
                            <p>+90 531 627 53 29</p>
                        </div>
                        <iframe alt="Map of Istanbul, covers all of this mega city. It's radius might be more than 200 km" src="https://www.google.com/maps/embed/v1/view?key=AIzaSyCZvkrT_CC5SEH3xOhsZm7QB1aPsX5QCRI&center=41.012922,28.991611&zoom=8&language=en" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                    </div>

                </div>

                <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <form method="post" action="" role="form" class="php-email-form">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="name">Your Name</label>
                                <input type="text" name="name" class="form-control" id="name" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="name">Your Email</label>
                                <input type="email" class="form-control" name="email" id="email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name">Subject</label>
                            <input type="text" class="form-control" name="subject" id="subject" required>
                        </div>
                        <div class="form-group">
                            <label for="name">Message</label>
                            <textarea class="form-control" name="message" rows="11" required></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->